
 th,td{
	min-width:80px;
	text-align: center;
	vertical-align: middle;
}

th .dropdown{
	display: none;
	position: absolute;
	z-index: 999;
	left: 54%;
	top: 13px;
}

th:first-child .dropdown{
	display: none;
	position: absolute;
	z-index: 999;
	left: 2%;
	top: 80px;
}
td .dropdown{
	display: none;
	position: absolute;
	z-index: 999;
	top: 15px;
	left: 0px;
	min-width : 50px;
}
th span:hover div.dropdown{
	display: block;	/* Display the dropdown */
	
}
td span:hover div.dropdown{
	display: block;	/* Display the dropdown */
}

td:first-child,th:first-child{
	
	min-width: 60px;
	max-width: 80px;
	height : 40px;
}

#table {
	border: 1px solid;
	border-collapse: collapse;
	width: 350px;
	table-layout: fixed;
}

th {
	background-color: blue;
	height: 20px;
	background-repeat: no-repeat;
	color: white;
	text-shadow: #012b4d 2px 2px 2px;
	text-align: center;
}

td {
	white-space: pre-wrap;
	min-width: 100px;
	max-width: 100px;
	text-indent: 5px;
	color: #444;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #bbb;
	word-wrap: break-word;
	overflow: hidden;
	position: relative;
	padding: 0px;
	vertical-align: top;
	height : 40px;
}

td.selected {
    background-color: f5f5f5;
}


[contenteditable="true"]:focus {
    background-color: #f5f5f5;
}

.highlight {
	background-color:#f5f5f5;